body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

.log-input-container, .log-filter-container {
    margin-bottom: 20px;
}

input, select, button {
    padding: 10px;
    font-size: 16px;
    margin: 5px;
}

button {
    cursor: pointer;
}

.clear-button {
    background-color: red;
    color: white;
}

#logContainer {
    text-align: left;
    width: 50%;
    margin: auto;
    border: 1px solid #ddd;
    padding: 10px;
    background: #f9f9f9;
    max-height: 300px;
    overflow-y: auto;
}

.log-entry {
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 8px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
}

.delete-btn {
    background-color: crimson;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
}
